#main{
	font-family: Times New Roman;
}

#footer2{
	font-family: Arial;
	font-size: 2;
	margin-left: 35%;
	margin-right: 35%;
}

body{
	margin-left: 5%;
	margin-right: 5%;
\	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
