#menu{
	margin-left: -0.5%;
	margin-right: -2%;
	padding: 0;
	top: 0;
	width: 100%;
  position: fixed;
  display: inline-block;
	background: #DC143C;
}

#title{
	margin-top: 7%;
}

#main{
	font-family: Times New Roman;
}

#penrose{
	float: left;
	margin-right: 1%;
}

#NaNoWriMo{
	float: right;
	margin-left: 1%;
}

#footer2{
	font-family: Arial;
	font-size: 10px;
	margin-left: 35%;
	margin-right: 35%;
}

.name{
	font-size: 2em;
	border-left: none;
}

.cv{
	margin: 10%;
}

body{
	background: #778899;
	background-size: cover;
}

h1{
	font-family: Comic Sans, Comic Sans MS;
}

h2{
	font-family: Papyrus;
}

h4{
	margin-right: 7.5%;
	margin-left: 7.5%;
}

button{
	float: left;
	background-color: #DC143C;
    color: black;
    padding: 14px 16px;
	margin-bottom: 1%;
    font-size: 18px;
	text-align: center;
	border-style: solid;
	border-width: 0px 1px 0px 1px;
	border-color: black;
    cursor: pointer;
}

a.menu{
	color: black;
	text-decoration: none;
}

p{
	margin-right: 7.5%;
	margin-left: 7.5%;
}

figcaption{
	font-size: .75em;
}

table{
	margin: 10%;
	width: 90%;
}

td{
	border-left: solid 2px black;
	width: 50%;
}
